spring.application.name: review-service
server.port: 7003

spring.data.mongodb:
  host: localhost
  port: 27017
  database: review-db

logging:
  level:
    root: INFO
    se.magnus: DEBUG
    org.springframework.data.mongodb.core.MongoTemplate: DEBUG

---
spring.config.activate.on-profile: docker
server.port: 8080

spring.data.mongodb:
  host: mongodb
  port: 27017
#  uri: mongodb://172.17.0.2:27017/review-db
  database: review-db